header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue-bg;
  padding-bottom: 3em;

  nav {
    padding: 2em;
    margin-bottom: 1.2em;
  }

  nav > img {
    margin-left: 0;
    margin-right: 0;
  }

  p, h1 {
    color: $font-colour-white;
  }

  p {
    margin-bottom: 1.4em;
  }

  span {
    color: $accent-colour;
    font-weight: 800;
  }


}
