// http://codepen.io/sebj54/pen/oxluI

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 2em 1.8em 2em 1.8em;
  font-weight: 600;
  font-size: 1em;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 4em;
  box-shadow: 0 0 4px 7px rgba(0,0,0,0.12);

  background-color: $accent-colour;
  color: $font-colour-white;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: $accent-colour;
}

.btn > * {
  position: relative;
}

.btn {
  color: white;
}

// .btn span {
//   display: block;
//   // padding: 12px 24px;
//   color: $font-colour-white;
//   font-size: 1.3em;
//   font-family: $body-text;
// }

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
